.custom-progress-bar .progress-bar {
  background-color: #fb8500 !important; /* Set the color for the progress */
  height: "70px";
  background-color: "rgba(33, 158, 188, 0.39";
  color: #0d6efd !important; /* Set the color for the text label */
}
